**1- Usando el lenguaje R: Cree el siguiente dataframe llamado "personas"**

In [1]:
personas <- data.frame(
DNI = c(74859612, 85964712, 12345678, 45678912, 25896314, 36895214, 98765432,      74125896, 15975348, 85236914),

  nombre = c("Ana López", "Carlos Pérez", "María Torres", "Luis Gómez", "Elena Cruz", "Pedro Díaz", "Sofía Ramos", "Miguel Vargas", "Laura Castillo", "Jorge Ríos"),

  fecha_nacimiento = as.Date(c("1990-05-12", "1988-10-23", "1995-07-14", "1992-02-08", "1998-12-30", "1985-03-17", "1993-09-25", "1987-06-11", "1991-11-05", "1996-04-20")),

  altura = c(1.65, 1.80, 1.58, 1.75, 1.62, 1.70, 1.68, 1.82, 1.60, 1.77),

  peso = c(60, 82, 54, 75, 58, 68, 63, 90, 57, 80),

  correo_electronico = c("ana.lopez@gmail.com", "carlos.perez@hotmail.com", "maria.torres@hotmail.com", "luis.gomez@hotmail.com", "elena.cruz@gmail.com", "pedro.diaz@hotmail.com", "sofia.ramos@gmail.com", "miguel.vargas@hotmail.com", "laura.castillo@hotmail.com", "jorge.rios@gmail.com"),

  departamento_nacimiento = c("Arequipa", "Puno", "Lima", "Lima", "La Libertad", "Arequipa", "Cuzco", "Puno", "Cuzco", "Tacna"),

  stringsAsFactors = FALSE
)

write.csv(personas, "personas.csv", row.names = FALSE)

Warning message:
“system timezone name is unknown: set environment variable TZ”

**2- Usando el lenguaje R y el dataframe anterior: Adicione una columna que muestre el Índice de Masa Corporal (ICM) de cada persona. IMC = peso / (altura * altura).**

In [2]:
personas$IMC <- round(personas$peso / (personas$altura * personas$altura), 2)
write.csv(personas, "personas_IMC.csv", row.names = FALSE)

**3- Usando el lenguaje R y el dataframe anterior: Muestre el promedio de IMC.**

In [1]:
personas <- read.csv("personas_IMC.csv")
promedio_IMC <- mean(personas$IMC)
print(promedio_IMC)

[1] 23.64

**4- Usando el lenguaje R y el dataframe anterior: Adicione una columna que muestre la edad de cada persona.**

In [4]:
personas <- read.csv("personas_IMC.csv")
personas$fecha_nacimiento <- as.Date(personas$fecha_nacimiento)
hoy <- Sys.Date()
personas$edad <- as.numeric(difftime(hoy, personas$fecha_nacimiento, units = "days")) %/% 365
write.csv(personas, "personas_IMC_edad.csv", row.names = FALSE)

**5- Usando el lenguaje R y el dataframe anterior: Muestre el DNI(s) y nombre(s) de la(s) persona(s) mayor(es) o igual(es) a.**

In [5]:
mayores_35 <- subset(personas, edad >= 35, select = c(DNI, nombre, edad))
print(mayores_35)

       DNI        nombre edad
1 74859612     Ana López   35
2 85964712  Carlos Pérez   36
6 36895214    Pedro Díaz   40
8 74125896 Miguel Vargas   38

**6- Usando el lenguaje R y el dataframe anterior: Muestre el DNI(s), nombre(s) y departamento(s) de nacimiento de la(s) persona(s) menor(es) a 35.**

In [6]:
menores_35 <- subset(personas, edad < 35, select = c(DNI, nombre, departamento_nacimiento, edad))
print(menores_35)

        DNI         nombre departamento_nacimiento edad
3  12345678   María Torres                    Lima   30
4  45678912     Luis Gómez                    Lima   33
5  25896314     Elena Cruz             La Libertad   26
7  98765432    Sofía Ramos                   Cuzco   31
9  15975348 Laura Castillo                   Cuzco   33
10 85236914     Jorge Ríos                   Tacna   29

**7- Usando el lenguaje R y el dataframe anterior: Adicione una columna que muestre el servidor de correo electrónico deseado (por ejemplo: gmail.com o hotmail.com).**

In [7]:
personas <- read.csv("personas_IMC_edad.csv")
personas$servidor_correo <- sub(".*@", "", personas$correo_electronico)
write.csv(personas, "personas_IMC_edad_servidor.csv", row.names = FALSE)

**8- Usando el lenguaje R y el dataframe anterior: Muestre el(los) DNI(s) y nombre(s) de las personas cuyo DNI termina en 4.**

In [8]:
dni_termina_4 <- subset(personas, grepl("4$", DNI), select = c(DNI, nombre))
print(dni_termina_4)

        DNI     nombre
5  25896314 Elena Cruz
6  36895214 Pedro Díaz
10 85236914 Jorge Ríos

**9- Usando el lenguaje R y el dataframe anterior: Muestre el(los) DNI(s) y nombre(s) de las personas cuyo DNI comienza en 8.**

In [9]:
dni_empieza_8 <- subset(personas, grepl("^8", DNI), select = c(DNI, nombre))
print(dni_empieza_8)

        DNI       nombre
2  85964712 Carlos Pérez
10 85236914   Jorge Ríos

**10- Usando el lenguaje R y el dataframe anterior: Muestre el(los) DNI(s) y nombre(s) de las personas que nacieron en Arequipa.**

In [10]:
nacidos_arequipa <- subset(personas, departamento_nacimiento == "Arequipa", select = c(DNI, nombre, departamento_nacimiento))
print(nacidos_arequipa)

       DNI     nombre departamento_nacimiento
1 74859612  Ana López                Arequipa
6 36895214 Pedro Díaz                Arequipa